    <div class="top_section">
        <div class="d-flex align-items-center">
          @if (currentTodoItem() === null) {
            <h3>New task:</h3>
          }
          @else {
            <h3>Task:</h3>
          }
            <i class="ms-auto bi bi-x-lg btn" (click)="handleCloseSideBar()"></i>
        </div>
        @if (currentTodoItem() === null) {
          <input
              class="border border-1 rounded"
              type="text"
              placeholder="To-do Title"
              [(ngModel)]="newTodoItem().title"
          />
          <textarea class="border border-1 rounded" placeholder="To-do Description" [(ngModel)]="newTodoItem().description"></textarea>
        }
        @else {
          <input
            class="border border-1 rounded"
            type="text"
            placeholder="To-do Title"
            [(ngModel)]="currentTodoItem()!.title"
          />
          <textarea class="border border-1 rounded" placeholder="To-do Description" [(ngModel)]="currentTodoItem()!.description"></textarea>
        }
      </div>
    <div class="attributes_selection">
      <div class="row">
          <label class="col-md-4">Category</label>
          @if (currentTodoItem() === null) {
            <select class="col-md-8 btn btn-outline-secondary form-select form-select-sm pe-5 border border-1 rounded" [(ngModel)]="newTodoItem().categoryId">
              <option [ngValue]="null" selected>Select Category</option>
              @for (category of existingCategories(); track $index) {
                <option [ngValue]="category.id" >{{category.name}}</option>
              }
            </select>
          }
          @else {
            <select class="col-md-8 btn btn-outline-secondary form-select form-select-sm pe-5 border border-1 rounded" [(ngModel)]="currentTodoItem()!.categoryId">
              <option [ngValue]="null" [selected]="currentTodoItem()!.categoryId === null">Select Category</option>
              @for (category of existingCategories(); track $index) {
                <option [ngValue]="category.id" [selected]="currentTodoItem()!.categoryId === category.id">{{category.name}}</option>
              }
            </select>
          }

      </div>
      <div class="row">
          <label class="col-md-4">Active Date</label>
          @if (currentTodoItem() === null) {
            <input class="col-md-8 border border-1 rounded" type="date" [(ngModel)]="newTodoItem().activeDate"/>
          }
          @else {
            <input class="col-md-8 border border-1 rounded" type="date" [(ngModel)]="currentTodoItem()!.activeDate"/>
          }
      </div>
      <div class="row">
          <label class="col-md-4">Due Date</label>
          @if (currentTodoItem() === null) {
            <input class="col-md-8 border border-1 rounded" type="date" [(ngModel)]="newTodoItem().dueDate"/>
          }
          @else {
            <input class="col-md-8 border border-1 rounded" type="date" [(ngModel)]="currentTodoItem()!.dueDate"/>
          }
      </div>
      <div class="row">
        <label class="col-md-4">Tags</label>
        <div class="col-md-8 d-flex flex-column px-0">
          @if (currentTodoItem() === null) {
            @if (newTodoItem().tagIds.length > 0) {
              <div class="d-flex flex-row flex-wrap">
                @for (tag of selectedTags(); track tag.id) {
                  <div class="rounded-1 px-3 py-1 lh-sm me-1 mt-1 btn"  [ngStyle]="{'background': tag.color + '80'}">
                    {{tag.name}}
                  </div>
                }
              </div>
            }
            <div class="d-flex flex-row mt-1">
              <select class="btn btn-outline-secondary form-select form-select-sm pe-5 me-1 border border-1 rounded" [ngModel]="selectedTagId()" (ngModelChange)="updateSelectedTagId($event)">
                <option [ngValue]="null" selected>Select Tag</option>
                @for (tag of existingTags(); track $index) {
                  <option [ngValue]="tag.id">{{tag.name}}</option>
                }
              </select>
              <div class="btn btn-primary" (click)="addSelectedTag(newTodoItem)">Add Tag</div>
            </div>
          }
          @else {
            @if (currentTodoItem()!.tagIds.length > 0) {
              <div class="d-flex flex-row flex-wrap">
                @for (tag of selectedTags(); track tag.id) {
                  <div class="rounded-1 px-3 py-1 lh-sm me-1 mt-1 btn"  [ngStyle]="{'background': tag.color + '80'}">
                    {{tag.name}}
                  </div>
                }
              </div>
            }
            <div class="d-flex flex-row mt-1">
              <select class="btn btn-outline-secondary form-select form-select-sm pe-5 me-1 border border-1 rounded" [ngModel]="selectedTagId()" (ngModelChange)="updateSelectedTagId($event)">
                <option [ngValue]="null" selected>Select Tag</option>
                @for (tag of existingTags(); track $index) {
                  <option [ngValue]="tag.id">{{tag.name}}</option>
                }
              </select>
              <div class="btn btn-primary" (click)="addSelectedTag(currentTodoItem)">Add Tag</div>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="tags_section">
        <h4>Subtasks</h4>
        <div class="btn btn-outline-secondary w-100 text-start"> <i class="bi bi-plus-lg mx-1"></i>Add New Subtask</div>
        <ul class="">
            <li class="my-2">
                <input class="mx-2" type="checkbox" />
                <label> Subtask 1 </label>
            </li>
        </ul>
    </div>
    <div class="bottom_section">
        @if (currentTodoItem() === null) {
          <div class="btn btn-outline-danger" (click)="handleCloseSideBar()">Cancel</div>
          <div class="btn btn-success" (click)="handleAddTaskEvent()">Add task</div>

        }
        @else {
          <div class="btn btn-outline-danger" (click)="handleDeleteTaskEvent()">Delete task</div>
          <div class="btn btn-success" (click)="handleSaveTaskEvent()">Save task</div>
        }
    </div>
