<div class="top_section">
    <h3 class="fw-bold">Menu</h3>
    <input class="border border-1 rounded form-control" type="text" placeholder="Search"/>
</div>
<div class="tasks_section border-bottom pb-3">
    <h4 class="fs-6 fw-bold">TASKS</h4>
    <div class="d-flex flex-column">
      <div class="d-flex flex-row align-items-center px-2 py-2 btn">
        <i class="bi bi-arrow-90deg-up me-2"></i>
        <div>Upcoming</div>
        <div class="ms-auto rounded-1 px-2" style="background: #ebebeb;">1</div>
      </div>
      <div class="d-flex flex-row align-items-center px-2 py-2 btn">
        <i class="bi bi-list-check me-2"></i>
        <div>Today</div>
        <div class="ms-auto rounded-1 px-2" style="background: #ebebeb;">1</div>
      </div>
      <div class="d-flex flex-row align-items-center px-2 py-2 btn">
        <i class="bi bi-calendar3 me-2"></i>
        <div>Calendar</div>
        <div class="ms-auto rounded-1 px-2" style="background: #ebebeb;">1</div>
      </div>
      <div class="d-flex flex-row align-items-center px-2 py-2 btn">
        <i class="bi bi-sticky me-2"></i>
        <div>Sticky Wall</div>
        <div class="ms-auto rounded-1 px-2" style="background: #ebebeb;">1</div>
      </div>
    </div>
</div>
<div class="lists_section border-bottom pb-3">
    <h4 class="fs-6 fw-bold">CATEGORIES</h4>
    <div class="d-flex flex-column">
        @for (category of existingCategories(); track $index) {
          <div class="d-flex flex-row align-items-center px-2 py-2 btn">
            <div class="rounded-1 me-3"  style="width: 20px; height: 20px;"  [ngStyle]="{'background': category.color}"></div>
            <div>{{category.name}}</div>
            <div class="ms-auto rounded-1 px-2" style="background: #ebebeb;">{{category.todoIds.length}}</div>
          </div>
        }
      <div class="d-flex flex-row align-items-center px-2 py-2 btn" (click)="openNewCategory(true)">
        <i class="bi bi-plus-lg me-3"></i>
        <div>Add New Category</div>
      </div>
    </div>
    @if (newCategoryPanel()) {
      <div class="new-list-item-section px-2 py-2 my-3 border border-1 rounded">
          <div>
              <div class="d-flex flex-row align-items-center rounded border border-1 px-2 py-1">
                  <div class="rounded-1 me-2"  style="width: 20px; height: 20px;"  [ngStyle]="{'background': selectedCategoryColor()}"></div>
                  <input class="border-0 " type="text" placeholder="List Name" [(ngModel)]="newCategoryName" style="background: unset;">
              </div>
              <div class="list-item-color-picker my-3 d-flex flex-row justify-content-evenly" >
                  @for (categoryColor of colors(); track $index) {
                      <div class="px-1 py-1 rounded-1" [ngClass]="{'border': (categoryColor === selectedCategoryColor())}">
                          <div class="rounded-1"  style="width: 20px; height: 20px;" [ngStyle]="{'background': categoryColor}" (click)="handleSelectCategoryColor($event, categoryColor)"></div>
                      </div>
                  }
              </div>
          </div>
          <div class="btn-group btn-group-sm d-flex flex-row">
            <button class="btn btn-outline-primary" (click)="saveNewCategory()">Save</button>
            <button class="btn btn-outline-secondary" (click)="openNewCategory(false)">Cancel</button>
          </div>
      </div>
    }
</div>
<div class="tags_section pb-3">
    <h4 class="fs-6 fw-bold">TAGS</h4>
    <div class="d-flex flex-row flex-wrap">
        @for (tag of existingTags(); track $index) {
          <div class="rounded-1 px-3 py-1 lh-sm me-1 mt-1 btn"  [ngStyle]="{'background': tag.color + '80'}">
            {{tag.name}}
          </div>
        }
      <div class="d-flex flex-row align-items-center rounded-1 px-3 py-1 lh-sm me-1 mt-1 btn" (click)="openNewTag(true)" style="background: #ebebeb;">
        <i class="bi bi-plus me-1"></i>
        <div>Add Tag</div>
      </div>
    </div>
    @if (newTagPanel()) {
      <div class="new-Tag-item-section px-2 py-2 my-3 border border-1 rounded">
          <div>
              <div class="d-flex flex-row align-items-center rounded border border-1 px-2 py-1">
                  <div class="rounded-1 me-2"  style="width: 20px; height: 20px;"  [ngStyle]="{'background': selectedTagColor()}"></div>
                  <input class="border-0 " type="text" placeholder="Tag Name" [(ngModel)]="newTagName" style="background: unset;">
              </div>
              <div class="list-item-color-picker my-3 d-flex flex-row justify-content-evenly" >
                  @for (tagColor of colors(); track $index) {
                      <div class="px-1 py-1 rounded-1" [ngClass]="{'border': (tagColor === selectedTagColor())}">
                          <div class="rounded-1"  style="width: 20px; height: 20px;" [ngStyle]="{'background': tagColor}" (click)="handleSelectTagColor($event, tagColor)"></div>
                      </div>
                  }
              </div>
          </div>
          <div class="btn-group btn-group-sm d-flex flex-row">
            <button class="btn btn-outline-primary" (click)="saveNewTag()">Save</button>
            <button class="btn btn-outline-secondary" (click)="openNewTag(false)">Cancel</button>
          </div>
      </div>
    }
</div>
<div class="bottom_section mt-auto mb-3">
    <div class="my-1 d-flex btn">
      <i class="bi bi-sliders me-3"></i>
      <div>Settings</div>
    </div>
    <div class="my-1 d-flex btn">
      <i class="bi bi-box-arrow-right me-3"></i>
      <div>Sign out</div>
    </div>
</div>
